*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(6, 6, 207);
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 10px 10px;
    border-bottom: solid 5px yellow;
}
*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(6, 6, 207);
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 10px 10px;
    border-bottom: solid 5px yellow;
}
footer{
    background-color: rgb(6, 6, 207);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 10px;
    border-top: solid 5px yellow;
}